.person-wrapper {
  width: 25%;
  min-width: 350px;
  border-radius: 20px;
}

.person-image {
  width: 100%;
  border-radius: 20px;
  pointer-events: auto;
  cursor: pointer;
  transition: all 1s ease-out;
  align-self: center;
}

.cursor-not {
  cursor: not-allowed;
}
