.personWrapper {
  width: 25%;
  min-width: 320px;
  border-radius: 20px;
  transition: all 1s ease-out;
  position: relative;
}

.personImage {
  width: 100%;
  border-radius: 20px;
  pointer-events: auto;
  cursor: pointer;
  align-self: center;
}

.time {
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: white;
}