*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* убираем синий фон, появляющийся в момент нажатия на кнопку (планшет или телефон) */
}

body {
  background-color: #111;
  overflow: hidden;
}

.btn {
  border-radius: 10px;
  pointer-events: auto;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 1312px) {
  body {
    overflow: visible;
  }
}